.todo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 12px;
}

.todo-container .button-container {
  margin-left: auto;
}

.dropdown {
  width: 100%;
  display: grid;
  grid-template: min-content auto auto/ min-content auto min-content;
  grid-template-areas:
    'project priority edit'
    'notes notes notes'
    'checklist checklist checklist';
  border-top: 1px solid lightgrey;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.project {
  grid-area: project;
}

.priority {
  grid-area: priority;
}

.dropdown img {
  grid-area: edit;
}

.notes {
  grid-area: notes;
}

.checklist {
  grid-area: checklist;
  padding-left: 12px;
}

.notes,
.checklist {
  font-size: 0.9rem;
  color: rgb(45, 45, 45);
}

.todo-container button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: inherit;
}

.due-date {
  background-color: #faf7f8;
  place-self: center;
  font-size: 0.8rem;
  color: rgb(45, 45, 45);
}
