:root {
  --priority-low-color: #8a8a8a;
  --priority-medium-color: #cd9862;
  --priority-high-color: #ba4949;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 12px;
}

.todo-container .button-container {
  margin-left: auto;
}

.dropdown {
  width: 100%;
  display: grid;
  grid-template: min-content auto auto/ min-content auto min-content;
  grid-template-areas:
    'project priority edit'
    'notes notes notes'
    'checklist checklist checklist';
  border-top: 1px solid lightgrey;
  justify-content: space-between;
  padding-top: 8px;
  align-items: center;
}

.hidden {
  display: none;
}

.project {
  grid-area: project;
}

.priority {
  grid-area: priority;
}

.dropdown img {
  grid-area: edit;
}

.notes {
  grid-area: notes;
}

.checklist {
  grid-area: checklist;
}

.notes,
.checklist {
  font-size: 0.9rem;
  color: rgb(45, 45, 45);
}

.todo-container button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: inherit;
}

.todo-container label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.due-date {
  background-color: #eeeeee;
  border-radius: 4px;
  place-self: center;
  font-size: 0.8rem;
  color: rgb(45, 45, 45);
  padding: 2px;
}

/* Styling checkboxes reference: https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */
input[type='checkbox'] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-color: var(--priority-low-color);
  border-radius: 50%;
}

input[type='checkbox'].medium {
  border-color: var(--priority-medium-color);
}

input[type='checkbox'].high {
  border-color: var(--priority-high-color);
}

input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '✔';
  position: absolute;
  font-size: 1.1em;
  right: 2px;
  visibility: hidden;
  top: -2px;
  color: white;
}

input[type='checkbox']:checked {
  background-color: var(--priority-low-color);
}

input[type='checkbox'].medium:checked {
  background-color: var(--priority-medium-color);
}

input[type='checkbox'].high:checked {
  background-color: var(--priority-high-color);
}

input[type='checkbox']:checked::before {
  visibility: visible;
}

input:checked + span {
  font-style: italic;
  text-decoration: line-through;
  color: rgb(63, 63, 63);
}

.checklist-item input[type='checkbox'] {
  opacity: 0.8;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.checklist-item input[type='checkbox']::before {
  font-size: 1em;
  right: 1px;
  top: -3px;
}
