.todo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  border: 2px solid grey;
  border-radius: 8px;
}
.dropdown {
  width: 100%;
  display: grid;
  grid-template: min-content auto auto/ min-content auto min-content;
  grid-template-areas:
    'project priority edit'
    'notes notes notes'
    'checklist checklist checklist';
  border-top: 1px solid lightgrey;
  justify-content: space-between;
}

.project {
  grid-area: project;
}

.priority {
  grid-area: priority;
}

.dropdown img {
  grid-area: edit;
}

.notes {
  grid-area: notes;
}

.checklist {
  grid-area: checklist;
}

.todo-container button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: inherit;
}
