fieldset {
  border: none;
  display: grid;
  grid-auto-flow: row;
  gap: 4px;
}

fieldset .form-control {
  display: grid;
  grid-template-columns: 24px 0px auto;
  grid-template-rows: min-content;
  align-items: center;
}

fieldset textarea {
  height: 32px;
  padding: 4px;
  font-size: 0.9rem;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 4px;
  background-color: rgb(247, 247, 247);
  resize: none;
}

fieldset textarea:active,
fieldset textarea:focus {
  outline: none;
  border: 2px solid rgb(125, 125, 125);
}

button img {
  height: 100%;
  width: auto;
}

.delete-btn {
  height: 24px;
  border: none;
  background-color: inherit;
  transition: all 100ms ease-out;
}

.delete-btn:hover {
  cursor: pointer;
  scale: 1.1;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

#add-btn {
  border: none;
  background-color: inherit;
  justify-self: flex-start;
  display: flex;
  padding-left: 20px;
  align-items: center;
  font-size: 0.9rem;
  transition: all 100ms ease-out;
}

#add-btn:hover {
  cursor: pointer;
  scale: 1.2;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
