#sidebar-menu {
  background-color: #fafafa;
  padding: 40px 20px;
  height: 100%;
}

#projects-container {
  padding-top: 24px;
}

#projects-container header h1 {
  font-size: 1rem;
  padding-left: 20px;
}

#projects-container .menu-item {
  height: 48px;
  width: auto;
}

#projects-container .menu-item:hover img {
  display: inline;
}

.menu-item .project-delete-icon {
  display: none;
}

.menu-item:hover .project-delete-icon {
  display: inline;
}

#projects-container .menu-item:hover .menu-icon {
  display: none;
}

.project-delete-icon:hover {
  scale: 1.2;
}

#project-header {
  display: flex;
  height: 24px;
  width: auto;
  padding-right: 27px;
}

#project-header button {
  border: none;
  background-color: inherit;
  margin-left: auto;
  border-radius: 4px;
  display: none;
}

#project-header:hover button {
  display: inline;
}

#proj-add-icon:hover {
  cursor: pointer;
  background-color: #fff;
}
